<div class="container6">
    <div class="columns">
        <div class="subcontainer">
            <p>Contactate conmigo</p>
            <div class="form crystalEffect">
                <form action="">
                    <input class="line" type="text" placeholder="Nombre">
                    <input class="line" type="text" placeholder="Email">
                    <!-- <input class="cont" type="text" placeholder="Asunto"> -->
                    <textarea class="cont" name="Asunto" placeholder="Asunto"></textarea>
                    <input class="line" type="submit" value="Enviar">
                </form>
            </div>
        </div>
        <div class="image">
            <img src="contact/message.svg" alt="Message">
        </div>
    </div>
    <div class="socialMedia crystalEffect">
        <ul class="contact1">
            <li><p>Email</p></li>
            <li class="null"><p><a href="">Página alternativa</a></p></li>
            <li class="contact2">
                <a href="https://www.github.com">   <img class="contactlogo null" src="contact/igimg.png"    alt=""></a>
                <a href="https://www.instagram.com"><img class="contactlogo null" src="contact/igimg.png"    alt=""></a>
                <a href="https://www.facebook.com"> <img class="contactlogo null" src="contact/fbimg.webp"   alt=""></a>
                <a href="https://www.whatsapp.com"> <img class="contactlogo null" src="contact/wpimg.png"    alt=""></a>
                <a href="https://www.x.com">        <img class="contactlogo null" src="contact/ximg.png"     alt=""></a>
            </li>
        </ul>
    </div>
</div>