<div class="container6">
    <div class="columns">
        <div class="subcontainer">
            <p>Contactate conmigo</p>
            <div class="form crystalEffect">
                <form (ngSubmit)="addMessage()">
                    <input class="line crystalEffect" type="text" placeholder="Nombre" [(ngModel)]="newMessage.name" name="name">
                    <input class="line crystalEffect" type="text" placeholder="Email" [(ngModel)]="newMessage.email" name="email">
                    <!-- <input class="cont" type="text" placeholder="Asunto"> -->
                    <textarea class="cont crystalEffect" placeholder="Asunto" [(ngModel)]="newMessage.message" name="email"></textarea>
                    <input class="line crystalEffect" type="submit" value="Enviar">
                    <!-- <input class="line crystalEffect" type="button" value="Enviar"> -->
                </form>
                <span class="verificator" [ngClass]="fade">✓</span>
            </div>
        </div>
        <div class="image">
            <img src="contact/message.svg" alt="Message">
        </div>
    </div>
    <div class="icons">
        <span class="icon" (click)="openWindow('https://www.linkedin.com/in/sande-ricardo/')">
            <img src="img/linkedin.svg" alt="">
        </span>
        <span class="icon"  (click)="openWindow('https://github.com/Sande-Ricardo')">
            <img src="img/github.svg" alt="">
        </span>
    </div>
    <div class="socialMedia crystalEffect">
        <ul class="contact1">
            <!-- <li><p>Email</p></li> -->
            <!-- <li class=""><p><a href="https://www.linkedin.com/in/sande-ricardo/">LinkedIn</a></p></li> -->
            <!-- <li class=""><p><a href="https://github.com/Sande-Ricardo">GitHub</a></p></li> -->
            <li class=""> <span (click)="openWindow('https://www.linkedin.com/in/sande-ricardo/')">Linkedin</span> </li>
            <li class=""> <span (click)="openWindow('https://github.com/Sande-Ricardo')">GitHub</span> </li>
            <li class="contact2">
                <a href="https://www.github.com">   <img class="contactlogo null" src="contact/igimg.png"    alt=""></a>
                <a href="https://www.instagram.com"><img class="contactlogo null" src="contact/igimg.png"    alt=""></a>
                <a href="https://www.facebook.com"> <img class="contactlogo null" src="contact/fbimg.webp"   alt=""></a>
                <a href="https://www.whatsapp.com"> <img class="contactlogo null" src="contact/wpimg.png"    alt=""></a>
                <a href="https://www.x.com">        <img class="contactlogo null" src="contact/ximg.png"     alt=""></a>
            </li>
        </ul>
    </div>
</div>