<div class="container6">
    <div class="columns">
        <div class="subcontainer">
            <p>Contactate conmigo</p>
            <div class="form crystalEffect">
                <form action="">
                    <input class="line" type="text" placeholder="Nombre">
                    <input class="line" type="text" placeholder="Email">
                    <!-- <input class="cont" type="text" placeholder="Asunto"> -->
                    <textarea class="cont" name="Asunto" placeholder="Asunto"></textarea>
                    <input class="line" type="submit" value="Enviar">
                </form>
            </div>
        </div>
        <div class="image">
            <img src="message.svg" alt="Message">
        </div>
    </div>
    <div class="socialMedia">

    </div>
</div>