<div class="container3">
    <div class="fade">
        <div class="profile" [style.--cld-img]="optimizedUrlImg()"></div>
        <!-- <app-cld-img class="prf" [publicId]="'profile_ofpy0q'" [width]="400" [height]="400"></app-cld-img> -->
    </div>
    <div class="info">
        <div class="subcontainer crystalEffect" *ngIf="userData">
            <h2 class="ttl">{{userData.aboutMeTitle}}</h2>
            <p class="text">
                {{userData.aboutMeText}}
            </p>
            <!-- <div class="cover"></div> -->
        </div>
    </div>
</div>
