.container3
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100vh;
    /* height: 30rem; */
    top: 0;
    /* background-color: #ff5a5a; */
}

.container3 > *
{
    position: relative;
    top: 10rem;
    height: calc(100vh - 20rem);
    flex: 1 1 0;
    padding: 1rem;
    margin: 1rem;
    
    width: min-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}

.fade
{
    width: 40vw;
    padding: 0;
    margin: 0;
    /* background-color: aqua; */
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff); */
}

.profile
{
    width: 100%;
    height: 100%;

    /* background-image: url('../../../assets/img/profile.png'); */
    /* background-image: var(--cld-img); */
    background-image: url('https://res.cloudinary.com/dpbrt2qic/image/upload/f_webp,fl_awebp/q_auto/v1770940690/profile_ofpy0q');
    /* background-size:cover; */
    background-position: center;
    background-repeat:no-repeat;
    opacity: .9;
    /* filter: blur(); */
    filter: drop-shadow(5px 5px 5px var(--shadow));

    display: block; /* Asegura que la imagen no tenga espacio adicional debajo*/
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 95%,rgba(0, 0, 0, 0) 100%);

    transition:all .2s;
}
.prf
{
    width: 100%;
    height: 100%;
    opacity: .9;
    filter: drop-shadow(5px 5px 5px var(--shadow));
    display: block; /* Asegura que la imagen no tenga espacio adicional debajo*/
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 95%,rgba(0, 0, 0, 0) 100%);

    transition:all .2s;
}
.profile:hover, .prf:hover
{
    opacity: 1;
    filter: drop-shadow(0 0 10px var(--shadow));
}

.info
{
    width: 50vw;
}

.subcontainer
{
    position: relative;
    left: -2rem;
    height: 15rem;
    /* height: max-content; */
    width: 28rem;
}

.ttl
{
    margin: 1rem ;
    color: var(--prmFont2);
    font-size: 1.8rem;
    font-family: var(--font1);
    letter-spacing: 1.5px;

    filter: drop-shadow(0 0 2px var(--prmGrey))
            drop-shadow(0 0 7px var(--prmGrey));
}

.text
{
    margin: 1.5rem 2rem 2rem 2rem;
    position: relative;
    color: var(--prmFont2);
    font-size: 1.15rem;
    font-family: var(--font1);


    filter:
            /* drop-shadow(0 0 1px var(--prmGrey)) */
            drop-shadow(0 0 4px var(--prmGrey))
}

@media (max-width: 768px){
    .container3{
        display: grid;
        grid-template-rows: 30vh 50vh;
        width: 100vw;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .container3 > * {
        top: 3rem;
        width: 80vw;
        /* height: auto; */
        align-items: center;
        margin: 0;
        padding: 0;
        /* height: calc(50vh - 20rem); */

        /* background-color: #ff5a5a; */
    }
    .fade{
        padding: 1rem;
        height: 30vh;
        /* margin-top: 5rem; */
    }
    .profile{
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .info{
        display: flex;
        align-items:start;
        justify-content: center;
    }
    .subcontainer{
        width: fit-content;
        height:fit-content;
        left: 0;
        /* display: flex; */
    }
    .ttl{
        display: flex;
        justify-content: center;
        margin: 0;
        font-size: 1.5rem;
    }

    .text{
        margin: 0;
        padding: 1rem;
        box-sizing: border-box;
        display: flex;
        text-align: center;
    }
}