<div class="container3">
    <div class="fade">
        <div class="profile"></div>
    </div>
    <div class="info">
        <div class="subcontainer crystalEffect" *ngIf="userData">
            <h2 class="ttl">{{userData.aboutMeTitle}}</h2>
            <p class="text">
                {{userData.aboutMeText}}
            </p>
            <!-- <div class="cover"></div> -->
        </div>
    </div>
    <!-- <a href="" class="crystalEffect">{{userData.aboutMeText}}</a> -->
    <!-- <a href="" class="a crystalEffect">photo/illustration</a> -->
    <!-- <img class="a crystalEffect" src="" alt=""> -->
</div>
