.container3
{
    display: flex;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100vh;
    /* height: 30rem; */
    top: 0;
    /* background-color: #ff5a5a; */
}

.container3 > *
{
    position: relative;
    top: 10rem;
    height: calc(100vh - 20rem);
    flex: 1 1 0;
    padding: 1rem;
    /* border: 1px solid #ff5a5a; */
    margin: 1rem;
    
    width: min-content;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}

.fade
{
    padding: 0;
    margin: 0;
    /* background-color: aqua; */
    /* background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #ffffff); */
}

.profile
{
    width: 100%;
    height: 100%;

    background-image: url('../../../assets/img/profile.png');
    background-position: center;
    background-repeat:no-repeat;
    opacity: .8;
    /* filter: blur(); */
    filter: drop-shadow(5px 5px 5px var(--shadow));


    display: block; /* Asegura que la imagen no tenga espacio adicional debajo*/
    -webkit-mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 100%);
    mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 95%,rgba(0, 0, 0, 0) 100%);
}

.subcontainer
{
    position: relative;
    left: -2rem;
    height: 15rem;
    /* height: max-content; */
    width: 28rem;
}

.ttl
{
    margin: 1rem ;
    color: var(--prmFont2);
    font-size: 1.8rem;
    font-family: var(--font1);
    letter-spacing: 1.5px;

    filter: drop-shadow(0 0 2px black)
            drop-shadow(0 0 7px black);
}

.text
{
    margin: 1.5rem 2rem 2rem 2rem;
    position: relative;
    color: var(--prmFont2);
    font-size: 1.15rem;
    font-family: var(--font1);


    filter: drop-shadow(0 0 1px black)
            drop-shadow(0 0 4px black)
}

@media (max-width: 768px){
    .container3{
        flex-direction: column;
        height: 90%;
    }
    .container3 > * {
        height: 100rem;
        /* background-color: #ff5a5a; */
    }
}