<div class="container2">
    <div class="logo" (click)="goToHome()">
    </div>
    <div class="sections">
        <span class="toggleTheme" [ngClass]="currentTheme" (click)="toggleTheme()">
            <div></div>
        </span>
        <!-- <p (click)="toggleTheme()" class="tosggleTheme" >Theme</p> -->
        <p *ngFor="let item of layoutData(), let i = index" (click)="goTo(item.url,i)">{{item.title}}</p>
    </div>
</div>
<div class="aux-container">
    <span *ngFor="let item of auxiliarLayoutData(), let i = index" class="icon" (click)="goTo(item.url,i)">
        <img [src]="item.iconUrl" [alt]="item.alt">
    </span>
</div>
<div class="aux-menu">
    <span class="toggleTheme" [ngClass]="currentTheme" (click)="toggleTheme()">
        <div></div>
    </span>
</div>

