.container2
{
    height: 2.5rem;
    
    display: flex;
    width: 100vw;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;

    /* background-color: aquamarine; */
    background: linear-gradient(to top, rgba(255, 255, 255, 0), var(--fade1), var(--fade2));
}

.logo
{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    left: 1rem;

    box-shadow: 0 0 .5rem 0 var(--stars);

    background-image: url('../../../assets/img/rWhite.svg');
    background-position: center;
    background-size: 1.4rem;
    background-repeat:no-repeat;
    filter: var(--invert);
}

.sections
{
    position: relative;
    height: 100%;
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 40vw;
    right: 1.5rem;
    /* background-color: antiquewhite; */

}

.sections > p
{
    font-weight: 600;
    font-family: var(--font1);
    color: var(--prmFont1);


    transition: .3s
}

.sections > p:hover
{
    color: var(--prmFont2);
    filter: drop-shadow(0 0 5px var(--font-shadow))
            drop-shadow(0 0 20px var(--font-shadow));
    cursor: pointer;
    /* transform: scale(1.1); */

}
.toggleTheme{
    position: relative;
    width: 2.5rem;
    height: 1rem;
    background-color: var(--parallel1);
    border: solid 2px var(--prmFont1);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    margin-right: 2rem;
    /* transform: scale(2); */
    justify-content: center;
    transition: .2s;
}
.light{
    justify-content: end;
}
.dark{
    justify-content: start;
}
.toggleTheme > div{
    position: relative;
    width: .85rem;
    height: .85rem;
    background-image: url('/img/toggleTheme.png');
    background-size:contain;
    background-repeat: no-repeat;
    /* border: solid 1px black; */
    border-radius: 50%;
    margin: 0 .05rem;
    /* filter: invert(1); */
}

.aux-container{
    display: none;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 2.5rem;
    /* background-color: blue; */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), var(--fade1), var(--fade2));
    justify-content: space-evenly;
}
.aux-container > span{
    position: relative;
    width: 2rem;
    height: 2rem;
    /* background-color: red; */
}

.aux-container > span > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    filter: var(--filter);
    opacity: .8;
    transition: .3s ease-in-out;
}
.aux-container > span > img:hover{
    /* filter: drop-shadow(0 0 4px var(--prm2))
        var(--filter); */
    opacity: 1;
}

.aux-menu{
    display: none;
    /* position: none; */
    top: 0;
    left: 0;
    width: 100vw;
    height: 3rem;
}



/* generar menu emergente para layout */
@media (max-width:768px)
{
    .sections{
        display: none;
    }

    .aux-container{
        display: flex;
    }

    .toggleTheme{
        position: absolute;
        top: 1rem;
        right: 0;
    }

    .aux-menu{
        display: flex;
        /* position: fixed; */
    }

}