.container2
{
    height: 2.5rem;
    
    display: flex;
    width: 100vw;
    justify-content: right;
    align-items: center;
    position: fixed;
    top: 0;

    /* background-color: aquamarine; */
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8));
}

.logo
{
    position: absolute;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    left: 1rem;

    box-shadow: 0 0 .5rem 0 white;

    background-image: url('../../../assets/img/rWhite.svg');
    background-position: center;
    background-size: 1.4rem;
    background-repeat:no-repeat;
}

.sections
{
    position: relative;
    justify-self: end;
    display: flex;
    justify-content: space-around;
    width: 40vw;
    right: 1.5rem;
    /* background-color: antiquewhite; */

}

.sections > p
{
    font-weight: 600;
    font-family: "Courier New", monospace;
    color: var(--prmFont1);


    transition: .3s
}

.sections > p:hover
{
    color: var(--prmFont2);
    filter: drop-shadow(0 0 5px var(--prmFont1))
            drop-shadow(0 0 20px var(--prmFont1));
    cursor: pointer;

}

/* generar menu emergente para layout */
@media (max-width:768px)
{
    .sections{
        display: none;
    }
}