.container4
{
    position: relative;
    width: 100vw;
    height: 100vh;

    /* top: 100vh; */

    /* background-color: aqua; */
}

.subcontainer
{
    position: relative;
    top: 3.5rem;
    height: calc(100vh - 3.5rem);
    
    display: grid;
    grid-template-rows: 2fr 7fr 7fr;
    /* gap: 2rem; */

    /* background-color: bisque; */
}

.subcontainer > *
{
    margin: 1rem;
    border: 1px solid #ff5a5a;
    /* background-color: aqua; */
}


/* capaz que los relatives se puede boletear */
.skills
{
    position: relative;
}
.skills > p
{
    font-size: 2rem;
    font-family: var(--font2);
    font-weight: 600;
    color: var(--prmFont2);
}

.technologies
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.fbs
{
    font-family: var(--font1);
    color: var(--prmFont1);
    font-size: 1.4rem;
}

.subcontainer2
{
    width: 90%;
    /* height: 100%; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


    position: relative;
    margin: 1rem 0 1rem 1.5rem;
    /* border: red solid .5px; */
}

.softs
{
    position: relative;
}