.container4
{
    position: relative;
    width: 100vw;
    height: 100vh;

    /* top: 100vh; */

    /* background-color: aqua; */
}

.subcontainer
{
    position: relative;
    top: 3.5rem;
    height: calc(100vh - 3.5rem);
    
    display: grid;
    grid-template-rows: 2fr 7fr 7fr;
    /* gap: 2rem; */

    /* background-color: bisque; */
    /* border: 1px solid blue; */

}

.subcontainer > *
{
    margin: 1rem;
    /* border: 1px solid #ff5a5a; */
    /* background-color: aqua; */
}


/* capaz que los relatives se puede boletear */
.skills
{
    position: relative;
}
.skills > p
{
    font-size: 2rem;
    font-family: var(--font1);
    font-weight: 600;
    color: var(--prmFont2);
    letter-spacing: 2px;

}

.technologies
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}


.fbs
{
    font-family: var(--font1);
    color: var(--prmFont2);
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.5px;

}


.subcontainer2
{
    width: 90%;
    height: 80%;
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    /* justify-content: space-evenly; */
    justify-items: center;

    position: relative;
    margin: 1rem 0 1rem 1.5rem;
    /* border: red solid .5px; */
}

/* .subcontainer2
{
    width: 90%;
    height: 85%;
    


    position: relative;
    margin: 1rem 0 1rem 1.5rem;
    border: red solid .5px;
}

.subcontainer2 div
{
    border: red solid .5px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.softs
{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.subcontainer3
{
    /* height: 70%; */
    /* width: 90%; */

    position: relative;
    /* margin: auto; */

    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);

    
    /* align-items: center; */

}

.softSkill
{
    color: var(--prmFont1);
    margin: 1rem;

    filter: drop-shadow(0 0 1px black)
            drop-shadow(0 0 5px black);
}

.fixDisplay > p{
    height: fit-content;
}

@media (max-width: 768px){
    .container4{
        height: 200vh;
    }
    .subcontainer{
        grid-template-rows: .8fr 7fr 7fr;
        height: calc(200vh - 2rem);
        top: 2rem;
    }
    .technologies{
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        /* border: 1px solid red; */
        justify-content: center;
    }
    .subcontainer2{
        width: 80vw;
        margin: 0;
        padding: 0;
        grid-template-columns: repeat(2, 1fr);
        /* grid-template-rows: repeat(3, 1fr); */
        overflow-y: auto;
        overflow-x: hidden;
        font-size: .8rem;
    }
    .fixDisplay{
        grid-template-columns: 1fr;
    }
}
