<div class="container4">
    <div class="subcontainer">
        <div class="skills">
            <p>Skills</p>
        </div>
        <div class="technologies">
            <div class="frontend">
                <p>Frontend</p>
                <div class="subcontainer2">
    
                </div>
            </div>
            <div class="backend">
                <p>Backend</p>
                <div class="subcontainer2">
                    
                </div>
            </div>
        </div>
        <div class="softs">
            <p>Soft skills</p>
            <div class="subcontainer3">
    
            </div>
        </div>
    </div>
</div>