/* You can add global styles to this file, and also import other style files */
@import './assets/styles/crystal.css';
@import './assets//styles/cover.scss';


:root{

    /* official palette */
    --prm1:#001F68;
    --prm2: #000C43;
    --prm3: #07072D;
    --prm4: #140647;
    --prm5: #200461;
    
    --prmGrey: #15171d;

    --prmFont1: #c7d4e6;
    --prmFont2: #d6eefb;
    --prmFont3: #e0e7ec;
    --prmFont4: #aec4d1;

    --font-shadow: #d6eefb;
    
    --font1: 'Times New Roman';
    --font2: Copperplate, Copperplate Gothic Light, fantasy;
    --font3: 'Courier New', Courier, monospace;
    --font4: "Courier New", monospace;

    --shadow: rgba(0, 0, 0, 0.4);
    --light-shadow: rgba(201, 201, 201, 0.629);
    --background: #0e0f12;
    --details: rgba(190, 190, 190, 0.2);
    --details2: rgba(190, 190, 190, 0.1);

    --backgroundImg: url('/img/Back1.webp');

    --stars: white;
    --stars-fade1: rgba(255, 255, 255, 0.5);
    --stars-fade2: rgba(255, 255, 255, 0.3);

    --crystal-back:rgba(40, 40, 40, 0.4);
    --crystal-shadow:rgba(2, 2, 2, 0.79);
    --crystal-back: rgba(20, 20, 30, 0.65);
    --crystal-border: rgba(255, 255, 255, 0.12);
    --crystal-glow: rgba(255, 255, 255, 0.03);
    --crystal-highlight: rgba(255, 255, 255, 0.08);
    --crystal-shadow-light: rgba(0, 0, 0, 0.3);
    --crystal-shadow-medium: rgba(0, 0, 0, 0.5);

    --fade1:rgba(0, 0, 0, .3);
    --fade2:rgba(0, 0, 0, .8);

    --parallel1: black;
    --filter: invert(89%) sepia(12%) saturate(285%) hue-rotate(162deg) brightness(103%) contrast(96%);
    --invert: invert(0)
}


[data-theme="light"]{
    --prm1: #dce6ff;
    --prm2: #b6caff;
    --prm3: #8faeff;
    --prm4: #6b91ff;
    --prm5: #4774ff;

    --prmGrey: #f5f5f5;

    --prmFont1: #05052d;
    --prmFont2: #16254a;
    --prmFont3: #4d4d4d;

    --font-shadow: #dcf3ff;

    --shadow: rgba(255, 255, 255, 0.4);
    --light-shadow: rgba(30, 30, 30, 0.6);
    --details: rgba(222, 222, 222, 0.3);
    --details2: rgba(190, 190, 190, 0.1);
    
    --background: #dce6ff;
    --backgroundImg: url('/img/Back2.webp');

    --stars: rgb(12, 20, 45);
    --stars-fade1: rgba(45, 65, 122, 0.5);
    --stars-fade2: rgba(45, 65, 122, 0.3);

    --crystal-back:rgba(150, 150, 150, 0.4);
    --crystal-shadow:rgba(101, 101, 101, 0.79);

    --fade1:rgba(240, 240, 240, 0.4);
    --fade2:rgba(250, 250, 250, 0.8);

    --parallel1: #c7d4e6;
    --filter: invert(6%) sepia(97%) saturate(2573%) hue-rotate(210deg) brightness(89%) contrast(104%);
    --invert: invert(.8);
}

*{
    margin: 0;
    padding:0;

    /* overflow-x: hidden; */
}
